/* --------------------- Grid -----------------------*/
* {
    margin:0;
    padding:1px;
    font-family: 'Poppins', sans-serif;
}
.productContainer {
    display: grid;
    grid-template-rows: 0.8fr 3fr 0.2fr;
    grid-template-columns: auto;
    height: 376vh;
    gap: 1em;
    grid-template-areas:
    'header1'
    'body1'
    'footer1';
}
.productContainer-header {
    grid-area: header1;
    min-height:100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.3)), url('https://r4.wallpaperflare.com/wallpaper/483/576/977/1920x1080-px-abstract-hexagon-minimalism-simple-nature-water-hd-art-wallpaper-6990a83d517aad5bf697e8cff071669d.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.productContainer-header p {
    color: #ffffff;
    text-align: center;
    margin: 90px 110px 10px 110px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
.productContainer-body {
    grid-area: body1;
    overflow: hidden;
}
.productContainer-footer {
    grid-area: footer1;
}
.productContainer-footer p {
    color: #637075;
    text-align: center;
    font-size: 11px;
    margin: 80px 0 0 0;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #9DD9FE;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
nav .fa {
    display: none;
}
.nav-icon {
    color: #ffffff;
}
.nav-links #btn {
    color: #ffffff;
    position: absolute;
    left: 90%;
    top: 10px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

@media only screen and (max-width: 550px) {
    h1 {
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        padding: 190px 0 0 0;
    }
    .img-container img {
        grid-area: picture;
        width: 70%;
        height: 80%;
        padding: 1px;
        border-radius: 10px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #2775A5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul {
        padding: 30px;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul li a{
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
    }
}

h1 {
    color: #fafdff;
    font-size: 64px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
h2 {
    font-size: 20px;
    font-weight: 800;
    text-align: left;
}
h4 {
    font-size: 36px;
    font-weight: 800;
    color: #0084ff;
    text-align: left;
}
h3 {
    text-align: center;
    font-weight: 600;
}

/* --------------------- Grid -----------------------*/
.container {
    margin: 70px 30px 0 30px;
    display: grid;
    grid-template-rows: 60px 300px 210px 10px;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 2em 1em;
    grid-template-areas:
    'header header'
    'picture description'
    'specification specification'
    'manual manual';
}
.header-container {
    grid-area: header;
    padding: 1px;
}
.img-container img {
    grid-area: picture;
    width: 61%;
    height: 90%;
    padding: 1px;
    border-radius: 10px;
}
.txt-container {
    grid-area: description;
    padding: 1px;
    text-align: left;
}
.txt-container p {
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
}
.txt-container ul li {
    margin-left : 40px;
    line-height: 1.5;
}
.txt-container ul li ul li {
    margin-left : 40px;
    line-height: 1.5;
}
.spec-container {
    grid-area: specification;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
    display: grid;
    grid-template-rows: repeat(5, 40px);
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
    'header header'
    'Dimension Dim'
    'Capacity Cap'
    'Compatibilité Comp'
    'Weight Wei';
}
.spec-container-header{
    grid-area: header;
    padding: 1px;
    text-align: left;
}
.Dimension-container {
    grid-area: Dimension;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
}
.Dim-container {
    grid-area: Dim;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
}
.Capacity-container {
    grid-area: Capacity;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
}
.Cap-container {
    grid-area: Cap;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
 }
.Compatibility-container {
    grid-area: Compatibility;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
}
.Comp-container {
    grid-area: Comp;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
}
.Weight-container {
    grid-area: Weight;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
}
.Wei-container {
    grid-area: Wei;
    padding: 0;
    text-align: left;
    border: 1px solid #8c8a89;
}
.manual-container {
    /* grid-area: 6 / 1 / 7 / 7; /* row-start col-start row-end col-end */
    grid-area: manual;
    padding: 1px;
}

